In [1]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import matplotlib.pyplot as plt

In [2]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

visitsItems = pd.read_sql('SELECT * FROM VisitsItems', con=db_connection)
visitsItems['created'] = pd.to_datetime(visitsItems['created'], unit='s')
visitsItems['lastmodified'] = pd.to_datetime(visitsItems['lastmodified'], unit='s')
visitsItems['deleted'].replace(0, np.nan, inplace=True)
visitsItems['deleted'] = pd.to_datetime(visitsItems['deleted'], unit='s')
visitsItems['title'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['description'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['title'] = visitsItems['title'].astype('category')
visitsItems['description'] = visitsItems['description'].astype('category')

In [11]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option("max_colwidth", 500)

In [3]:
#items of morning 
#items of evening
#items of the year
visitsItems

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
0,793451,0,1,0,793449,1,18356743,own Charles Dawes name well aftermath,different James Monroe feel just carpenter,2014-10-23 16:25:55,2014-10-23 16:25:55,NaT,0,0,0
1,793453,0,2,9,793449,1,18146475,great John C. Breckinridge have very achieve,other Walter Mondale talk when picture,2014-10-23 16:26:15,2014-10-23 16:26:15,NaT,0,0,0
2,793455,0,2,6,793449,1,18311851,first John C. Calhoun think only fuel,old Al Gore walk too year,2014-10-23 16:26:55,2014-10-23 16:26:55,NaT,0,0,0
3,793459,3,2,7,793449,1,18476565,early Henry A. Wallace call out wrist,good John F. Kennedy tell also government,2014-10-23 16:27:59,2014-10-23 16:27:59,NaT,0,0,0
4,793495,3,2,7,793449,1,18628929,same Hubert Humphrey kick very health,next Joe Biden come when creature,2014-10-23 19:36:56,2014-10-23 19:36:56,NaT,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479553,132873405,0,2,12,132777661,0,1595449503,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:25:03,2020-07-22 20:25:03,NaT,0,0,3
18479554,132873409,28814,2,12,132777661,0,1595449610,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:26:50,2020-07-22 20:26:50,NaT,0,0,3
18479555,132873413,28814,2,12,132777661,0,1595449666,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:27:46,2020-07-22 20:27:46,NaT,0,0,3
18479556,132873417,28814,2,3,132777661,0,1595450275,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:37:55,2020-07-22 20:37:55,NaT,0,0,3
18479557,132873427,28814,2,14,132777661,0,1595451288,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:54:48,2020-07-22 20:54:48,NaT,0,0,3

# items of morning

In [12]:
# visitsItems.set_index('created', inplace=True)
visitsItems_morning = visitsItems.between_time('10:00', '13:00')
visitsItems_morning['refers_to_uid'].value_counts().head(100)

18702097      12
18622267      11
18655013      11
51497617       9
18733547       7
18712511       6
85006455       6
18788383       6
18728283       5
51497609       5
839994781      5
51685031       5
68743487       5
136300633      4
1108723799     4
1108723777     4
1108951543     4
18797277       4
52272401       4
1108723791     4
1108723787     4
404576393      4
18797285       4
68731117       4
1108723781     4
136300641      4
68775863       4
136300645      4
1108723783     4
1108723789     4
823332049      4
18797279       4
51497637       4
68813711       4
890290245      4
18794815       4
1108723757     4
68813985       4
18794847       4
69157055       4
68731121       4
136300643      4
136300651      4
890290247      4
51497641       4
18797283       4
69187403       4
404577379      4
1108951541     4
1108723767     4
69129791       4
68744555       4
68744557       4
68744559       4
68744561       4
18768397       4
18797281       4
68731143       4
1108955717     4
68782479       4
186113019      4
35521007       4
68743529       4
1108723759     4
136300649      4
186112999      4
1108723793     4
18797287       4
136300647      4
907130463      4
420562601      4
18732761       4
186113015      4
136252489      3
68731107       3
35460755       3
68268403       3
51497725       3
68250891       3
68782471       3
18307723       3
18731657       3
18155285       3
18652605       3
18168071       3
51497729       3
18489749       3
69155335       3
18446005       3
35460655       3
51497635       3
18633615       3
18130939       3
35460615       3
18641691       3
51497727       3
51497583       3
68245665       3
35520671       2
219777439      2
Name: refers_to_uid, dtype: int64

# evening items

In [13]:
visitsItems_evening = visitsItems.between_time('13:00', '18:00')
visitsItems_evening['refers_to_uid'].value_counts().head(100)

18703475      23486
18703473      23352
18703477      22703
18703503      21952
35460287      21739
18187831      20830
18703481      19493
18703485      19453
18703479      16965
35460437      16222
69155331      14775
69155335      14707
69192475      13874
35460289      13826
18312379      12474
18703483      11869
69155333      11473
404734457     11225
18187781      10967
404529343     10917
404529339     10915
404529351     10913
404529337     10912
69172087      10909
404529333     10909
404529341     10908
69172081      10908
69172077      10907
404529335     10907
69172085      10907
69172093      10906
404529301     10906
404529319     10906
404529321     10906
69172095      10906
404529347     10906
404529303     10906
404529331     10905
404529313     10905
69172089      10905
69172091      10905
102335185     10905
102335187     10905
404529329     10904
69172097      10904
420565501     10904
404529317     10904
404529323     10904
102335183     10904
404529311     10904
404529315     10904
404529305     10904
404529325     10904
404529307     10903
69155377      10831
404529349     10768
18187025      10460
69172057      10415
18733333      10404
69155065      10286
69155063      10281
69155003      10277
69155413       9303
135918443      8796
135918431      8796
135918413      8796
69155281       8796
69155277       8796
135918447      8795
420565507      8795
69155077       8795
69155263       8795
69155279       8795
135918421      8795
135918429      8795
135918427      8795
420557263      8583
69155353       8556
69155351       8547
2318798826     8445
18187735       8164
68782469       7826
18204885       7680
69155349       7678
219777437      7507
219777441      7503
219777443      7501
219777439      7499
69172109       7495
69172111       7492
404577581      7251
69155391       7232
69155401       7230
69155389       7229
69155405       7228
69155403       7226
69155399       7226
69155383       7224
69155381       7222
69155387       7221
Name: refers_to_uid, dtype: int64

# yearly items

In [18]:
visitsItems.reset_index(inplace=True)

In [24]:
visitsItems2015 = visitsItems[visitsItems['created'].dt.year ==2015]
visitsItems2015['refers_to_uid'].value_counts()

85006451      14286
85006479      14241
85006419      14207
18703475      13777
18703477      13456
              ...
1432135337        1
18630325          1
1436454636        1
1448232821        1
1437844866        1
Name: refers_to_uid, Length: 116034, dtype: int64

In [25]:
visitsItems2016 = visitsItems[visitsItems['created'].dt.year ==2016]
visitsItems2016['refers_to_uid'].value_counts()

69192475      38370
69155331      36937
69155335      35337
18187831      31602
404529339     29302
              ...
1471892972        1
1463520756        1
1467737593        1
1482958337        1
1467139669        1
Name: refers_to_uid, Length: 147185, dtype: int64

In [26]:
visitsItems2017 = visitsItems[visitsItems['created'].dt.year ==2017]
visitsItems2017['refers_to_uid'].value_counts()

18703477      13103
18703473      12447
18703481      12087
18703503      11970
839994781     11239
              ...
1509819015        1
109032113         1
1488743114        1
1488751318        1
1512241233        1
Name: refers_to_uid, Length: 93914, dtype: int64

In [28]:
visitsItems2018 = visitsItems[visitsItems['created'].dt.year ==2018]
visitsItems2018['refers_to_uid'].value_counts()

1158794661    11920
1158864465     9501
18703475       9289
18703473       8908
1158856991     8703
              ...
1528572187        1
1534951726        1
1520359749        1
69155193          1
1525723157        1
Name: refers_to_uid, Length: 36892, dtype: int64

In [29]:
visitsItems2019 = visitsItems[visitsItems['created'].dt.year ==2019]
visitsItems2019['refers_to_uid'].value_counts()

2318798826    17184
2318798848    15399
2318798855    10369
2318798842    10334
2318798865     9895
              ...
1574619584        1
1571082755        1
1577581158        1
1554062010        1
1551730254        1
Name: refers_to_uid, Length: 32095, dtype: int64

In [30]:
visitsItems2020 = visitsItems[visitsItems['created'].dt.year ==2020]
visitsItems2020['refers_to_uid'].value_counts()

2318800031    1967
2318800005    1557
18701037      1539
18700487      1539
18701039      1538
              ...
1582230157       1
1581711920       1
1580073360       1
1579712832       1
0                1
Name: refers_to_uid, Length: 4923, dtype: int64