In [2]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import matplotlib.pyplot as plt
import math

In [3]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

pens = pd.read_sql('SELECT * FROM Pens', con=db_connection)
pens['note'] = pens['note'].astype('category')
pens['registered'].replace(0, np.nan, inplace=True)
pens['registered'] = pd.to_datetime(pens['registered'], unit='s')
pens['lastmodified'].replace(0, np.nan, inplace=True)
pens['lastmodified'] = pd.to_datetime(pens['lastmodified'], unit='s')
pens['disabled'].replace(0, np.nan, inplace=True)
pens['disabled'] = pd.to_datetime(pens['disabled'], unit='s')
pens['retired'].replace(0, np.nan, inplace=True)
pens['retired'] = pd.to_datetime(pens['retired'], unit='s')

# pensActivity = pd.read_sql('SELECT * FROM PensActivity', con=db_connection)
# pensActivity['created'] = pd.to_datetime(pensActivity['created'], unit='s')
# pensActivity['lastmodified'] = pd.to_datetime(pensActivity['lastmodified'], unit='s')
# pensActivity['notes'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
# pensActivity['notes'] = pensActivity['notes'].astype('category')
# pensActivity.sort_values(by='created', inplace=True) 

# pensCheckouts = pd.read_sql('SELECT * FROM PensCheckouts', con=db_connection)
# pensCheckouts['start'] = pd.to_datetime(pensCheckouts['start'], unit='s')
# pensCheckouts['start'].replace(0, np.nan, inplace=True)
# pensCheckouts['end'].replace(0, np.nan, inplace=True)
# pensCheckouts['end'] = pd.to_datetime(pensCheckouts['end'], unit='s')
# pensCheckouts['start_ip'].replace(0, np.nan, inplace=True)
# pensCheckouts['end_ip'].replace(0, np.nan, inplace=True)
# pensCheckouts['start_ip'] = pensCheckouts['start_ip'].astype('category')
# pensCheckouts['end_ip'] = pensCheckouts['end_ip'].astype('category')

# pensRegisters = pd.read_sql('SELECT * FROM PensRegisters', con=db_connection)
# pensRegisters['created'] = pd.to_datetime(pensRegisters['created'], unit='s')
# pensRegisters['registers'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
# pensRegisters['registers'].replace('None', np.NaN, regex=True, inplace=True)

In [3]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 50)
pd.set_option("max_colwidth", 300)

In [4]:
pens

,id,registered_by_user_id,registered_by_api_key,registered,lastmodified,disabled,retired,note,uid,retired_by_user_id,disabled_by_user_id
0,1,3,777677,2014-05-22 16:07:20,2015-01-30 23:21:37,2015-01-30 23:21:37,2015-01-30 23:21:37,millerfox,6b6bb53fb257abdf,3,3
1,2,3,777677,2014-05-22 16:07:29,2015-01-30 23:24:15,2015-01-30 23:24:15,NaT,millerfox,533dcbd9d4ed45f0,0,3
2,3,3,777677,2014-05-22 16:07:53,2014-11-14 23:34:05,NaT,NaT,millerfox,fc83486cd48f21d5,0,0
3,4,3,777677,2014-05-22 16:07:59,2014-11-14 23:34:05,NaT,NaT,millerfox,29835c28eed2bf63,0,0
4,5,3,777677,2014-05-22 16:08:09,2014-11-14 23:34:05,NaT,NaT,millerfox,c780a4881f6e3d2a,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3251,3860045,3,0,2015-04-03 19:09:07,NaT,NaT,NaT,production 20150301,91FF826F14002000,0,0
3252,3860047,3,0,2015-04-03 19:09:07,NaT,NaT,NaT,production 20150301,91FF826F02001200,0,0
3253,3860067,3,0,2015-04-03 19:09:07,NaT,NaT,NaT,production 20150301,595F836F13000900,0,0
3254,3860071,3,0,2015-04-03 19:09:07,NaT,NaT,NaT,production 20150301,91FF826F19001100,0,0
3255,3860073,3,0,2015-04-03 19:09:08,NaT,NaT,NaT,production 20150301,90FF826F12000300,0,0