In [1]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import matplotlib.pyplot as plt

In [2]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

visitsItemsRenditions = pd.read_sql('SELECT * FROM VisitsItemsRenditions', con=db_connection)
visitsItemsRenditions['created'] = pd.to_datetime(visitsItemsRenditions['created'], unit='s')
visitsItemsRenditions['lastmodified'] = pd.to_datetime(visitsItemsRenditions['lastmodified'], unit='s')
visitsItemsRenditions['deleted'].replace(0, np.nan, inplace=True)
visitsItemsRenditions['deleted'] = pd.to_datetime(visitsItemsRenditions['deleted'], unit='s')
visitsItemsRenditions['size'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)

In [3]:
visitsItemsRenditions
#source_id = i think is the id in the visit items

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
0,793457,793455,0,NaN,2014-10-23 16:26:55,2014-10-23 16:26:55,NaT,793449
1,793461,793459,3,NaN,2014-10-23 16:27:59,2014-10-23 16:27:59,NaT,793449
2,793497,793495,3,NaN,2014-10-23 19:36:56,2014-10-23 19:36:56,NaT,793449
3,793501,793499,3,NaN,2014-10-23 19:53:54,2014-10-23 19:53:54,NaT,793449
4,793669,793667,3,NaN,2014-10-24 22:01:36,2014-10-24 22:01:36,NaT,793571
...,...,...,...,...,...,...,...,...
365304,132873407,132873405,0,NaN,2020-07-22 20:25:04,2020-07-22 20:25:04,NaT,132777661
365305,132873411,132873409,28814,NaN,2020-07-22 20:26:50,2020-07-22 20:26:50,NaT,132777661
365306,132873415,132873413,28814,NaN,2020-07-22 20:27:46,2020-07-22 20:27:46,NaT,132777661
365307,132873419,132873417,28814,NaN,2020-07-22 20:37:55,2020-07-22 20:37:55,NaT,132777661
365308,132873429,132873427,28814,NaN,2020-07-22 20:54:49,2020-07-22 20:54:49,NaT,132777661